.main{
    background-color: white;
    border-radius: 20px;
    width: clamp(330px,80%,450px);
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 4rem;

}
@media(max-width:740px) {
    .box {
        display: none;
    }
}
@media(min-width:740px) {
   .main{
    width: clamp(580px,90%,900px);
    flex-direction:row;
    margin-bottom: 3rem;
    

   }
   .box{
    position: absolute;
    width: 10rem;
    z-index: 100;
    left:-8%;
    top:46%;
   }
   .main>*{
    flex: 50%;
   }
}